name: Maven CI/CD
env:
  MAIN_BRANCH: "master"
  DEV_BRANCH: "development"
on:
  push:
    branches: ${{ env.MAIN_BRANCH }}
  pull_request:
    branches: ${{ env.MAIN_BRANCH }}

jobs:
  build_and_test:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 14
        uses: actions/setup-java@v1
        with:
          java-version: 14

      - name: Cache the Maven packages to speed up build
        uses: actions/cache@v1
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: Build and test project with Maven
        run: mvn -B package --file pom.xml

  publish-job:
    runs-on: ubuntu-latest
    needs: [ build_and_test ]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: 14
      - run: mvn -B package --file pom.xml -DskipTests
      - run: mkdir staging && cp target/*jar-with-dependencies.jar staging
      - uses: actions/upload-artifact@v1
        with:
          name: Package
          path: staging
      - name: Release to S3B
        run : bash scripts/pipeline/release.sh ${{secrets.AWS_ucket_Name}} "build.jar" ${{secrets.AWS_Access_Key}} ${{secrets.AWS_Access_Secret}} "target/github-action-maven-tutorial-1.0-SNAPSHOT-jar-with-dependencies.jar"
